# {{ ansible_managed }}

# zsh configuration file
ZSH={{ zsh_path|default("$HOME/.oh-my-zsh") }}

ZSH_THEME={{ zsh_theme|default("sorin") }}

DISABLE_AUTO_UPDATE="true"
DISABLE_CORRECTION="true"
plugins=(git brew osx)

# zsh completions
fpath=(/usr/local/share/zsh-completions $fpath)

source $ZSH/oh-my-zsh.sh

# Load the exports, functions, aliases and extra dotfiles.
for file in ~/.{exports,functions,aliases,extra}; do
        [ -r "$file" ] && [ -f "$file" ] && source "$file"
done
unset file

alias zshconfig="vim {{ zshrc_path|default("$HOME/.zshrc") }}"
